# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python & Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS metadata
.DS_Store
Thumbs.db
